In [ ]:
Q-1. Write an SQL query to print the first three characters of FIRST_NAME from Worker
table.

ANS: SELECT SUBSTRING(f_name,1,3) 
     FROM worker;

In [ ]:
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

ANS: Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

In [ ]:
Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

ANS: select * from employee where e_salary = (select max(e_salary) from employee);